:root {
  --mainBlue: #1a2849;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.title-text {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
